body{
    color:rgb(223, 127, 89);
    background-color: rgb(223, 127, 89);
}
body.dark{
    color:rgb(223, 127, 89);
    background-color: rgb(223, 127, 89);
}
#titolo{
    color: red;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
    backdrop-filter: blur(10px);
}
.container{
    display: flex;
    align-content: center;
    flex-direction: column ;
    justify-content: flex-end; 
}
.riga{
    flex-direction: row ;
}
.sx{
    align-content: left;
}

.col-6{
    flex:0 1 50%;
     max-width: 50%;
}
.col-12{
    flex: 0 1 100%;
    max-width: 100%;
}

.table{
    align-content: center;
    width: 100%;
}

#testo{
    color: rgb(19, 19, 18);
}
#song{
	color: rgb(19, 19, 18);
    font-family: sans-serif;
    font-weight: bolder;
    text-align: left;
}
#title{
    color: rgb(19, 19, 18);
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    backdrop-filter: blur(10px);
}
#titolo{
    color: rgb(19, 19, 18);
    font-family: sans-serif;
    font-weight: bolder;
    text-align: right;
    backdrop-filter: blur(10px);
}